In [ ]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt

# Sample data
data = pd.DataFrame({
    "Customer": ["A", "B", "C", "A", "B"],
    "Product": ["Shoes", "Shoes", "Bag", "Bag", "Shoes"],
    "Price": [50, 50, 100, 100, 50],
    "Quantity": [1, 2, 1, 2, 1],
    "Country": ["UK", "UK", "US", "UK", "US"]
})

# Load into SQLite
conn = sqlite3.connect("retail.db")
data.to_sql("sales", conn, if_exists="replace", index=False)

# Query example
query = "SELECT Product, SUM(Price*Quantity) as TotalSales FROM sales GROUP BY Product"
df = pd.read_sql(query, conn)
print(df)

# Bar chart
df.plot(kind="bar", x="Product", y="TotalSales", legend=False)
plt.title("Total Sales by Product")
plt.ylabel("Sales ($)")
plt.show()